#top{
    border: 2px solid green;
    width: 30%;
    margin-left: 32%;
   padding-left: 10%;
}
#footer{
    border: 2px solid hotpink;
    width: 30%;
    margin-left: 32%;
    margin-top: 35%;
    padding-left: 10%;

}