h1{
    font-family: 'Great Vibes', cursive; 
    text-align: center;
    color: purple;
}
#style1{
    border: 2px solid indigo;
    background-color: indigo;
    width: 100px;
    height: 300px;
    float: left;
    position: relative;
    left: 20%;
    bottom: 20%;
}
#style2{
    border: 2px solid red;
    background-color: red;
    width: 100px;
    height: 300px;
    float: left;
    position: relative;
    left: 20%;
    bottom: 20%;
}
#style3{
    border: 2px solid yellow;
    background-color: yellow;
    width: 100px;
    height: 300px;
    float: left;
    position: relative;
    left: 20%;
    bottom: 20%;
}
#style4{
    border: 2px solid pink;
    background-color: pink;
    width: 100px;
    height: 300px;
    float: left;
    position: relative;
    left: 20%;
    bottom: 20%;
}
#style5{
    border: 2px solid orange;
    background-color: orange;
    width: 100px;
    height: 300px;
    float: left;
    position: relative;
    left: 20%;
    bottom: 20%;
}

#style6{
    border: 2px solid green;
    background-color: green;
    width: 100px;
    height: 300px;
    float: left;
    position: relative;
    left: 20%;
    bottom: 20%;
}
#style1{
    border: 2px solid black;
    background-color: black;
    width: 100px;
    height: 300px;
    float: left;
    position: relative;
    left: 20%;
    bottom: 20%;
}